<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
<h1>Form</h1>
	<form action="#" th:action="@{/example3/addperson}"
		th:object="${person}" method="post">

		<p>
			Name: <input type="text" th:field="*{name}" />
		</p>
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name has errors</p>
		<p>Age:
			<input type="number" th:field="*{age}"/>
		</p>
		<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age has errors</p>
		<p><input type="submit" value="Enviar" /></p>

	</form>
</body>
</html>